table{
    background-color: #fff;
}

main{
    margin-left: 5%;
    margin-right: 5%;
}

html{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-cart{
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: bold;
    text-align: right;
}

